.dx-colorview-palette-handle {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.dx-colorview-hue-scale-handle {
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.dx-colorview-alpha-channel-handle {
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.dx-treelist-edit-popup .dx-error-message {
    background-color: #e19093;
}
.dx-theme-generic-typography {
    background-color: #ececf9;
}
.dx-theme-background-color-as-text-color {
    color: #ececf9;
}
.dx-theme-background-color {
    background-color: #ececf9;
    fill: #ececf9;
}
.dx-theme-background-color-as-border-color {
    border-color: #ececf9;
}
.dx-theme-generic-typography .dx-theme-background-color-as-text-color {
    color: #ececf9;
}
.dx-theme-generic-typography .dx-theme-background-color {
    background-color: #ececf9;
    fill: #ececf9;
}
.dx-theme-generic-typography .dx-theme-background-color-as-border-color {
    border-color: #ececf9;
}
.dx-button-mode-contained {
    background-color: #ececf9;
}
.dx-button-mode-contained.dx-state-hover {
    background-color: #c5c5ed;
}
.dx-button-mode-contained.dx-state-focused {
    background-color: #b2b2e7;
}
.dx-button-mode-contained.dx-state-active {
    background-color: #9e9ee1;
}
.dx-buttongroup-item.dx-item-selected {
    background-color: #c5c5ed;
}
.dx-scrollable-scroll-content {
    background-color: rgba(139, 139, 218, 0.7);
}
.dx-scrollbar-hoverable.dx-state-hover,
.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active {
    background-color: rgba(139, 139, 218, 0.2);
}
.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active .dx-scrollable-scroll-content {
    background-color: #8b8bda;
}
.dx-scrollable-customizable-scrollbars {
    -ms-scrollbar-base-color: #ececf9;
    -ms-scrollbar-arrow-color: #1e1e5f;
    -ms-scrollbar-track-color: #ececf9;
}
.dx-scrollable-customizable-scrollbars::-webkit-scrollbar-thumb {
    background-color: #32329f;
}
.dx-scrollable-native.dx-scrollable-native-android .dx-scrollview-pull-down {
    background-color: #ececf9;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
.dx-checkbox.dx-state-readonly .dx-checkbox-icon {
    background-color: #ececf9;
}
.dx-checkbox.dx-state-active .dx-checkbox-icon {
    background-color: rgba(40, 40, 126, 0.2);
}
.dx-checkbox-icon {
    background-color: #ececf9;
}
.dx-tabs-nav-buttons .dx-tabs-scrollable .dx-tabs-wrapper {
    border-left: 1px solid #e0e0f5;
    border-right: 1px solid #e0e0f5;
}
.dx-tabs-nav-button {
    background-color: #e0e0f5;
}
.dx-tab {
    background-color: #e0e0f5;
}
.dx-tab.dx-state-hover {
    background-color: #ececf9;
}
.dx-tab.dx-state-active {
    background-color: rgba(36, 36, 115, 0.2);
}
.dx-tab.dx-tab-selected {
    background-color: #ececf9;
}
.dx-tab-selected:not(.dx-state-focused) + .dx-tab-selected:not(.dx-state-focused):after {
    border-left: 1px solid #e0e0f5;
}
.dx-rtl .dx-tab-selected:not(.dx-state-focused) + .dx-tab-selected:not(.dx-state-focused):after {
    border-left: 1px solid #b3b3e6;
    border-right: 1px solid #e0e0f5;
}
.dx-nav-item.dx-tab-selected,
.dx-rtl .dx-nav-item.dx-tab-selected {
    background: #ececf9;
}
.dx-texteditor.dx-editor-outlined {
    background: #ececf9;
}
.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-input {
    padding-right: 68px;
}
.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid.dx-rtl .dx-texteditor-input {
    padding: 7px 9px 8px;
    padding-left: 68px;
}
.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    right: 38px;
}
.dx-rtl .dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after,
.dx-rtl.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    left: 38px;
    right: auto;
}
.dx-texteditor-input {
    background: #ececf9;
}
.dx-dropdowneditor.dx-state-hover .dx-dropdowneditor-icon,
.dx-dropdowneditor.dx-state-active .dx-dropdowneditor-icon {
    background-color: #c5c5ed;
}
.dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon,
.dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon {
    background-color: #7878d4;
}
.dx-invalid.dx-dropdowneditor.dx-show-clear-button:not(.dx-texteditor-empty) .dx-texteditor-container:after {
    right: 68px;
}
.dx-rtl .dx-invalid.dx-dropdowneditor.dx-show-clear-button:not(.dx-texteditor-empty) .dx-texteditor-container:after,
.dx-rtl.dx-invalid.dx-dropdowneditor.dx-show-clear-button:not(.dx-texteditor-empty) .dx-texteditor-container:after {
    right: auto;
    left: 68px;
}
.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-hover {
    background-color: #dcdcf4;
}
.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-list-item-selected {
    background-color: #c5c5ed;
}
.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-list-item-selected.dx-state-hover:not(.dx-state-focused) {
    background-color: #dcdcf4;
}
.dx-list-group-header {
    background: rgba(211, 211, 241, 0.05);
}
.dx-list-item.dx-list-item-ghost-reordering.dx-state-focused.dx-state-hover {
    background: #ececf9;
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.dx-list-context-menucontent {
    background-color: #ececf9;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.dx-device-mobile .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-hover {
    background-color: #dcdcf4;
}
.dx-device-mobile .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-list-item-selected {
    background-color: #c5c5ed;
}
.dx-device-mobile .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-list-item-selected.dx-state-hover:not(.dx-state-focused) {
    background-color: #dcdcf4;
}
.dx-device-mobile .dx-list-group-header {
    background: rgba(211, 211, 241, 0.05);
}
.dx-device-mobile .dx-list-item.dx-list-item-ghost-reordering.dx-state-focused.dx-state-hover {
    background: #ececf9;
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.dx-device-mobile .dx-list-context-menucontent {
    background-color: #ececf9;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.dx-dropdownlist-popup-wrapper .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item-content {
    padding: 7px 9px;
}
.dx-numberbox-spin-button {
    background-color: #ececf9;
}
.dx-state-hover.dx-numberbox-spin-button .dx-numberbox-spin-down-icon,
.dx-state-hover.dx-numberbox-spin-button .dx-numberbox-spin-up-icon {
    background-color: #c5c5ed;
}
.dx-state-active.dx-numberbox-spin-button .dx-numberbox-spin-down-icon,
.dx-state-active.dx-numberbox-spin-button .dx-numberbox-spin-up-icon {
    background-color: #7878d4;
}
.dx-numberbox-spin.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-input {
    padding-right: 102px;
}
.dx-numberbox-spin.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid.dx-rtl .dx-texteditor-input {
    padding: 7px 9px 8px;
    padding-left: 102px;
}
.dx-numberbox-spin.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    right: 72px;
}
.dx-rtl .dx-numberbox-spin.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after,
.dx-rtl.dx-numberbox-spin.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    left: 72px;
    right: auto;
}
.dx-numberbox-spin-touch-friendly.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-input {
    padding-right: 142px;
}
.dx-numberbox-spin-touch-friendly.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid.dx-rtl .dx-texteditor-input {
    padding: 7px 9px 8px;
    padding-left: 142px;
}
.dx-numberbox-spin-touch-friendly.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    right: 112px;
}
.dx-rtl .dx-numberbox-spin-touch-friendly.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after,
.dx-rtl.dx-numberbox-spin-touch-friendly.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    left: 112px;
    right: auto;
}
.dx-datebox-calendar.dx-dropdowneditor-active .dx-texteditor-input {
    background: #ececf9;
}
@media (max-width: 320px) {
    .dx-datebox-wrapper-calendar .dx-calendar {
        margin: 18px;
    }
}
.dx-datebox.dx-auto-width.dx-dropdowneditor-button-visible .dx-texteditor-input,
.dx-datebox:not(.dx-texteditor-empty).dx-auto-width.dx-dropdowneditor-button-visible .dx-texteditor-input {
    padding-right: 60px;
}
.dx-datebox.dx-auto-width.dx-dropdowneditor-button-visible.dx-rtl .dx-texteditor-input,
.dx-datebox:not(.dx-texteditor-empty).dx-auto-width.dx-dropdowneditor-button-visible.dx-rtl .dx-texteditor-input {
    padding: 7px 9px 8px;
    padding-left: 60px;
}
.dx-datebox.dx-auto-width.dx-dropdowneditor-button-visible.dx-rtl.dx-editor-underlined .dx-texteditor-input,
.dx-datebox:not(.dx-texteditor-empty).dx-auto-width.dx-dropdowneditor-button-visible.dx-rtl.dx-editor-underlined .dx-texteditor-input {
    padding-right: 0;
}
.dx-datebox.dx-auto-width.dx-dropdowneditor-button-visible.dx-show-clear-button .dx-texteditor-input,
.dx-datebox:not(.dx-texteditor-empty).dx-auto-width.dx-dropdowneditor-button-visible.dx-show-clear-button .dx-texteditor-input {
    padding-right: 90px;
}
.dx-datebox.dx-auto-width.dx-dropdowneditor-button-visible.dx-show-clear-button.dx-rtl .dx-texteditor-input,
.dx-datebox:not(.dx-texteditor-empty).dx-auto-width.dx-dropdowneditor-button-visible.dx-show-clear-button.dx-rtl .dx-texteditor-input {
    padding: 7px 9px 8px;
    padding-left: 90px;
}
.dx-toolbar {
    background-color: #ececf9;
}
.dx-toolbar-background {
    background-color: #ececf9;
}
.dx-tile {
    background-color: #ececf9;
}
.dx-tile.dx-state-focused,
.dx-tile.dx-state-hover {
    background-color: #ececf9;
}
.dx-tile.dx-state-active {
    background-color: rgba(40, 40, 126, 0.2);
}
.dx-overlay-shader {
    background-color: rgba(236, 236, 249, 0.8);
}
.dx-popup-wrapper > .dx-overlay-content {
    background: #ececf9;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.dx-popover-wrapper.dx-position-bottom .dx-popover-arrow:after {
    background: #ececf9;
}
.dx-popover-wrapper .dx-popover-arrow:after,
.dx-popover-wrapper.dx-popover-without-title .dx-popover-arrow:after {
    background: #ececf9;
}
.dx-progressbar-container {
    background-color: #b8b8e8;
}
.dx-progressbar-animating-container {
    background-color: #b8b8e8;
}
.dx-tooltip-wrapper .dx-overlay-content {
    background-color: #ececf9;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dx-tooltip-wrapper.dx-popover-wrapper .dx-popover-arrow:after {
    background: #ececf9;
}
.dx-slider-handle {
    border: 1px solid #ececf9;
}
.dx-state-active.dx-slider-handle {
    border: 1px solid #ececf9;
}
.dx-state-focused.dx-slider-handle:not(.dx-state-active) {
    border: 1px solid #ececf9;
    background: #4d4dff;
}
.dx-state-hover.dx-slider-handle:not(.dx-state-active) {
    border: 1px solid #ececf9;
    background: #4d4dff;
}
.dx-gallery .dx-gallery-nav-button-prev,
.dx-gallery .dx-gallery-nav-button-next {
    background: #ececf9;
}
.dx-gallery-indicator-item {
    background: #ececf9;
}
.dx-gallery-indicator-item-active,
.dx-gallery-indicator-item-selected {
    border: 2px solid rgba(236, 236, 249, 0.8);
}
.dx-lookup {
    background: #ececf9;
}
.dx-loadindicator-icon .dx-loadindicator-segment {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.dx-loadpanel-content {
    background: #ececf9;
    -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}
.dx-selectbox-popup-wrapper .dx-overlay-content {
    -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
}
.dx-selectbox-popup-wrapper .dx-list {
    background-color: #ececf9;
}
.dx-tagbox:not(.dx-texteditor-empty) .dx-texteditor-input {
    padding-left: 0;
    margin-left: 5px;
}
.dx-rtl .dx-tagbox:not(.dx-texteditor-empty) .dx-texteditor-input,
.dx-rtl.dx-tagbox:not(.dx-texteditor-empty) .dx-texteditor-input {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
.dx-tag-content {
    background-color: #b8b8e8;
}
.dx-tag-remove-button:before,
.dx-tag-remove-button:after {
    background: #6a6ad0;
}
.dx-tag-remove-button:active:before,
.dx-tag-remove-button:active:after {
    background: #b8b8e8;
}
.dx-tag.dx-state-focused .dx-tag-content {
    background-color: #9d9de0;
}
.dx-tag.dx-state-focused .dx-tag-remove-button:before,
.dx-tag.dx-state-focused .dx-tag-remove-button:after {
    background-color: #6a6ad0;
}
.dx-tag.dx-state-focused .dx-tag-remove-button:active:before,
.dx-tag.dx-state-focused .dx-tag-remove-button:active:after {
    background: #b8b8e8;
}
.dx-radiobutton-icon:before {
    background-color: #ececf9;
}
.dx-radiobutton.dx-state-readonly .dx-radiobutton-icon:before {
    background-color: #ececf9;
}
.dx-radiobutton.dx-state-active .dx-radiobutton-icon:before {
    background-color: rgba(40, 40, 126, 0.2);
}
.dx-radiobutton.dx-state-focused:not(.dx-state-active) .dx-radiobutton-icon:before {
    border: 1px solid #8080ff;
}
.dx-radiogroup.dx-state-readonly .dx-radiobutton-icon:before {
    background-color: #ececf9;
}
.dx-accordion {
    background-color: #ececf9;
}
.dx-accordion-item.dx-state-active:not(.dx-accordion-item-opened) .dx-icon {
    color: #333;
}
.dx-accordion-item.dx-state-active:not(.dx-accordion-item-opened) > .dx-accordion-item-title {
    color: #333;
    background-color: rgba(40, 40, 126, 0.2);
}
.dx-accordion-item.dx-state-hover > .dx-accordion-item-title {
    background-color: #dcdcf4;
}
.dx-accordion-item.dx-state-hover:not(:last-child):not(.dx-accordion-item-opened):not(.dx-state-focused) {
    border-bottom-color: #dcdcf4;
}
.dx-accordion-item-opened + .dx-accordion-item.dx-state-hover:not(.dx-state-focused) {
    border-top-color: #dcdcf4;
}
.dx-slideoutview-menu-content,
.dx-slideoutview-content {
    background-color: #ececf9;
}
.dx-pager .dx-pages .dx-selection,
.dx-pager .dx-page-sizes .dx-selection {
    background-color: #aaaae4;
}
.dx-colorview-palette-cell,
.dx-colorview-alpha-channel-border,
.dx-colorview-hue-scale-wrapper,
.dx-colorview-color-preview-container {
    background-color: #ececf9;
}
.dx-colorbox-overlay.dx-overlay-content {
    background-color: #ececf9;
}
.dx-menu-item.dx-state-hover {
    background-color: #dcdcf4;
}
.dx-menu-item-selected {
    background-color: #c5c5ed;
}
.dx-menu-item-expanded {
    background-color: #dcdcf4;
}
.dx-context-menu-container-border {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}
.dx-context-menu-content-delimiter {
    background-color: #ececf9;
}
.dx-menu .dx-menu-item-expanded {
    background-color: #ececf9;
}
.dx-menu-adaptive-mode {
    background-color: #ececf9;
}
.dx-menu-adaptive-mode .dx-treeview,
.dx-menu-adaptive-mode .dx-treeview.dx-state-focused {
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.dx-menu-adaptive-mode .dx-treeview-node.dx-state-focused .dx-treeview-toggle-item-visibility {
    color: #ececf9;
}
.dx-context-menu .dx-submenu {
    background-color: #ececf9;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.dx-calendar {
    background-color: #ececf9;
}
.dx-calendar.dx-calendar-with-footer .dx-calendar-footer .dx-button.dx-state-active {
    background-color: #aaaae4;
}
.dx-calendar-navigator .dx-button.dx-state-active:not(.dx-calendar-disabled-navigator-link) {
    z-index: 1;
}
.dx-calendar-navigator .dx-button.dx-state-hover:not(.dx-calendar-disabled-navigator-link) {
    z-index: 1;
    border-color: #b3b3e6;
}
.dx-calendar-navigator .dx-calendar-caption-button.dx-button.dx-state-active {
    background-color: #aaaae4;
}
.dx-calendar-cell.dx-state-hover {
    -webkit-box-shadow: inset 0px -1px 0px 1000px #dcdcf4;
    -moz-box-shadow: inset 0px -1px 0px 1000px #dcdcf4;
    box-shadow: inset 0px -1px 0px 1000px #dcdcf4;
}
.dx-calendar-cell.dx-state-active:not(.dx-calendar-empty-cell):not(.dx-calendar-selected-date) {
    -webkit-box-shadow: inset 0px -1px 0px 1000px rgba(40, 40, 126, 0.2);
    -moz-box-shadow: inset 0px -1px 0px 1000px rgba(40, 40, 126, 0.2);
    box-shadow: inset 0px -1px 0px 1000px rgba(40, 40, 126, 0.2);
}
.dx-treeview-item-without-checkbox.dx-state-selected > .dx-treeview-item {
    background-color: #c5c5ed;
}
.dx-treeview-item.dx-state-hover {
    background-color: #dcdcf4;
}
.dx-tabpanel .dx-tabs {
    background-color: #e0e0f5;
}
.dx-tabpanel .dx-tab:not(.dx-tab-selected):not(.dx-state-hover) {
    background: none;
}
.dx-tabpanel .dx-tab-selected:before {
    border-bottom: 1.5px solid #ececf9;
}
.dx-tabpanel.dx-state-focused .dx-tabs-scrollable .dx-tab:not(.dx-tab-selected):before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 100%;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 2;
    height: 0;
    border-bottom: 1.5px solid #8080ff;
    bottom: -1.4px;
}
.dx-tabpanel.dx-state-focused .dx-tabs-scrollable .dx-tab-selected:after {
    border-bottom: 1.5px solid #e0e0f5;
}
.dx-scheduler-view-switcher.dx-tabs .dx-tab:not(.dx-tab-selected):not(.dx-state-hover) {
    background: none;
}
.dx-scheduler-appointment-tooltip-buttons .dx-button:nth-child(even) {
    float: right;
    margin-right: 0;
}
.dx-scheduler-appointment-tooltip-buttons .dx-button:nth-child(odd) {
    float: left;
    margin-left: 0;
}
.dx-desktop-layout-main-menu .dx-nav-item.dx-tab-selected {
    background: #e0e0f5;
}
.dx-desktop-layout-main-menu .dx-nav-item.dx-tab-selected.dx-state-hover {
    background: #e0e0f5;
}
.dx-desktop-layout-toolbar {
    background: #e0e0f5;
}
.dx-drawer-shader {
    background-color: rgba(0, 0, 0, 0.9);
}
.dx-card {
    background-color: #ececf9;
}
.dx-treelist-borders > .dx-treelist-headers,
.dx-treelist-borders > .dx-treelist-rowsview,
.dx-treelist-borders > .dx-treelist-total-footer {
    border-left: 1px solid #b3b3e6;
    border-right: 1px solid #b3b3e6;
}
.dx-treelist-borders > .dx-treelist-rowsview,
.dx-treelist-borders > .dx-treelist-total-footer {
    border-bottom: 1px solid #b3b3e6;
}
.dx-treelist-borders > .dx-treelist-pager,
.dx-treelist-borders > .dx-treelist-headers,
.dx-treelist-borders > .dx-treelist-filter-panel {
    border-top: 1px solid #b3b3e6;
}
.dx-treelist-borders > .dx-treelist-filter-panel {
    border-left: 1px solid #b3b3e6;
    border-right: 1px solid #b3b3e6;
}
.dx-treelist-container .dx-treelist-rowsview .dx-data-row td.dx-pointer-events-none,
.dx-treelist-container .dx-treelist-rowsview .dx-freespace-row td.dx-pointer-events-none,
.dx-treelist-container .dx-treelist-headers .dx-row td.dx-pointer-events-none {
    border-left: 2px solid #b3b3e6;
    border-right: 2px solid #b3b3e6;
}
.dx-treelist-filter-panel {
    border-top: 1px solid #b3b3e6;
}
.dx-rtl.dx-treelist .dx-column-lines > td:first-child {
    border-left: 1px solid #b3b3e6;
}
.dx-rtl.dx-treelist .dx-column-lines > td:last-child {
    border-right: 1px solid #b3b3e6;
}
.dx-rtl .dx-treelist-container .dx-treelist-rowsview .dx-data-row td.dx-pointer-events-none,
.dx-rtl .dx-treelist-container .dx-treelist-rowsview .dx-freespace-row td.dx-pointer-events-none,
.dx-rtl .dx-treelist-container .dx-treelist-headers .dx-row td.dx-pointer-events-none {
    border-left: 2px solid #b3b3e6;
}
.dx-theme-border-color-as-text-color {
    color: #b3b3e6;
}
.dx-theme-border-color-as-background-color {
    background-color: #b3b3e6;
    fill: #b3b3e6;
}
.dx-theme-border-color {
    border-color: #b3b3e6;
}
.dx-theme-generic-typography .dx-theme-border-color-as-text-color {
    color: #b3b3e6;
}
.dx-theme-generic-typography .dx-theme-border-color-as-background-color {
    background-color: #b3b3e6;
    fill: #b3b3e6;
}
.dx-theme-generic-typography .dx-theme-border-color {
    border-color: #b3b3e6;
}
.dx-button-mode-contained {
    border-color: #b3b3e6;
}
.dx-button-mode-outlined {
    border-color: #b3b3e6;
}
.dx-button-mode-outlined.dx-state-hover {
    background-color: rgba(179, 179, 230, 0.1);
}
.dx-button-mode-outlined.dx-state-focused {
    background-color: rgba(179, 179, 230, 0.2);
}
.dx-button-mode-outlined.dx-state-active {
    background-color: rgba(179, 179, 230, 0.3);
}
.dx-checkbox.dx-state-readonly .dx-checkbox-icon {
    border-color: #d6d6f1;
}
.dx-checkbox-icon {
    border: 1px solid #b3b3e6;
}
.dx-tabs {
    border: 1px solid #b3b3e6;
}
.dx-tabs-scrollable {
    margin: -1px;
}
.dx-tabs-scrollable .dx-tabs-wrapper {
    border: 1px solid #b3b3e6;
}
.dx-tab-selected:after {
    border-right: 1px solid #b3b3e6;
    border-left: 1px solid #b3b3e6;
}
.dx-tab-selected:not(.dx-state-focused) + .dx-tab-selected:not(.dx-state-focused):after {
    border-left: 1px solid #e0e0f5;
}
.dx-rtl .dx-tab-selected:not(.dx-state-focused) + .dx-tab-selected:not(.dx-state-focused):after {
    border-left: 1px solid #b3b3e6;
    border-right: 1px solid #e0e0f5;
}
.dx-texteditor.dx-editor-outlined {
    border: 1px solid #b3b3e6;
}
.dx-texteditor.dx-editor-underlined {
    border-bottom: 1px solid #b3b3e6;
}
.dx-texteditor.dx-state-readonly {
    border-color: #d6d6f1;
}
.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-input {
    padding-right: 68px;
}
.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid.dx-rtl .dx-texteditor-input {
    padding: 7px 9px 8px;
    padding-left: 68px;
}
.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    right: 38px;
}
.dx-rtl .dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after,
.dx-rtl.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    left: 38px;
    right: auto;
}
.dx-invalid.dx-dropdowneditor.dx-show-clear-button:not(.dx-texteditor-empty) .dx-texteditor-container:after {
    right: 68px;
}
.dx-rtl .dx-invalid.dx-dropdowneditor.dx-show-clear-button:not(.dx-texteditor-empty) .dx-texteditor-container:after,
.dx-rtl.dx-invalid.dx-dropdowneditor.dx-show-clear-button:not(.dx-texteditor-empty) .dx-texteditor-container:after {
    right: auto;
    left: 68px;
}
.dx-list-group-header {
    border-top: 1px solid #b3b3e6;
    border-bottom: 2px solid #b3b3e6;
}
.dx-list-item,
.dx-list .dx-empty-message {
    border-top: 1px solid #b3b3e6;
}
.dx-list-border-visible {
    border: 1px solid #b3b3e6;
}
.dx-list-border-visible .dx-list-select-all {
    border-bottom: 1px solid #b3b3e6;
}
.dx-list-context-menucontent {
    border: 1px solid #b3b3e6;
}
.dx-device-mobile .dx-list-group-header {
    border-top: 1px solid #b3b3e6;
    border-bottom: 2px solid #b3b3e6;
}
.dx-device-mobile .dx-list-item,
.dx-device-mobile .dx-list .dx-empty-message {
    border-top: 1px solid #b3b3e6;
}
.dx-device-mobile .dx-list-border-visible {
    border: 1px solid #b3b3e6;
}
.dx-device-mobile .dx-list-border-visible .dx-list-select-all {
    border-bottom: 1px solid #b3b3e6;
}
.dx-device-mobile .dx-list-context-menucontent {
    border: 1px solid #b3b3e6;
}
.dx-dropdownlist-popup-wrapper .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item-content {
    padding: 7px 9px;
}
.dx-numberbox-spin.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-input {
    padding-right: 102px;
}
.dx-numberbox-spin.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid.dx-rtl .dx-texteditor-input {
    padding: 7px 9px 8px;
    padding-left: 102px;
}
.dx-numberbox-spin.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    right: 72px;
}
.dx-rtl .dx-numberbox-spin.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after,
.dx-rtl.dx-numberbox-spin.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    left: 72px;
    right: auto;
}
.dx-numberbox-spin-touch-friendly.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-input {
    padding-right: 142px;
}
.dx-numberbox-spin-touch-friendly.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid.dx-rtl .dx-texteditor-input {
    padding: 7px 9px 8px;
    padding-left: 142px;
}
.dx-numberbox-spin-touch-friendly.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    right: 112px;
}
.dx-rtl .dx-numberbox-spin-touch-friendly.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after,
.dx-rtl.dx-numberbox-spin-touch-friendly.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    left: 112px;
    right: auto;
}
@media (max-width: 320px) {
    .dx-datebox-wrapper-calendar .dx-calendar {
        margin: 18px;
    }
}
.dx-datebox.dx-auto-width.dx-dropdowneditor-button-visible .dx-texteditor-input,
.dx-datebox:not(.dx-texteditor-empty).dx-auto-width.dx-dropdowneditor-button-visible .dx-texteditor-input {
    padding-right: 60px;
}
.dx-datebox.dx-auto-width.dx-dropdowneditor-button-visible.dx-rtl .dx-texteditor-input,
.dx-datebox:not(.dx-texteditor-empty).dx-auto-width.dx-dropdowneditor-button-visible.dx-rtl .dx-texteditor-input {
    padding: 7px 9px 8px;
    padding-left: 60px;
}
.dx-datebox.dx-auto-width.dx-dropdowneditor-button-visible.dx-rtl.dx-editor-underlined .dx-texteditor-input,
.dx-datebox:not(.dx-texteditor-empty).dx-auto-width.dx-dropdowneditor-button-visible.dx-rtl.dx-editor-underlined .dx-texteditor-input {
    padding-right: 0;
}
.dx-datebox.dx-auto-width.dx-dropdowneditor-button-visible.dx-show-clear-button .dx-texteditor-input,
.dx-datebox:not(.dx-texteditor-empty).dx-auto-width.dx-dropdowneditor-button-visible.dx-show-clear-button .dx-texteditor-input {
    padding-right: 90px;
}
.dx-datebox.dx-auto-width.dx-dropdowneditor-button-visible.dx-show-clear-button.dx-rtl .dx-texteditor-input,
.dx-datebox:not(.dx-texteditor-empty).dx-auto-width.dx-dropdowneditor-button-visible.dx-show-clear-button.dx-rtl .dx-texteditor-input {
    padding: 7px 9px 8px;
    padding-left: 90px;
}
.dx-toolbar-menu-section {
    border-bottom: 1px solid #b3b3e6;
}
.dx-tile {
    border: 1px solid rgba(179, 179, 230, 0.6);
}
.dx-popup-wrapper .dx-state-focused.dx-overlay-content {
    border: 1px solid #b3b3e6;
}
.dx-popup-wrapper > .dx-overlay-content {
    border: 1px solid #b3b3e6;
}
.dx-popup-title {
    border-bottom: 1px solid #b3b3e6;
}
.dx-popover-arrow:after {
    border: 1px solid #b3b3e6;
}
.dx-progressbar-container {
    border: 1px solid #b3b3e6;
}
.dx-progressbar-animating-container {
    border: 1px solid #b3b3e6;
}
.dx-tooltip-wrapper .dx-overlay-content {
    border: 1px solid #b3b3e6;
}
.dx-tooltip-wrapper.dx-popover-wrapper .dx-popover-arrow:after {
    border: 1px solid #b3b3e6;
}
.dx-slider-bar {
    background: #b3b3e6;
}
.dx-state-focused.dx-slider-handle:not(.dx-state-active) {
    border: 1px solid #ececf9;
    background: #4d4dff;
}
.dx-state-hover.dx-slider-handle:not(.dx-state-active) {
    border: 1px solid #ececf9;
    background: #4d4dff;
}
.dx-lookup {
    border: 1px solid #b3b3e6;
}
.dx-lookup-validation-message {
    border-bottom: 1px solid #b3b3e6;
}
.dx-loadpanel-content {
    border: 1px solid #b3b3e6;
}
.dx-tagbox:not(.dx-texteditor-empty) .dx-texteditor-input {
    padding-left: 0;
    margin-left: 5px;
}
.dx-rtl .dx-tagbox:not(.dx-texteditor-empty) .dx-texteditor-input,
.dx-rtl.dx-tagbox:not(.dx-texteditor-empty) .dx-texteditor-input {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
.dx-tagbox-popup-wrapper .dx-list-select-all {
    border-bottom: 1px solid #b3b3e6;
}
.dx-radiobutton-icon:before {
    border: 1px solid #b3b3e6;
}
.dx-radiobutton.dx-state-readonly .dx-radiobutton-icon:before {
    border-color: #d6d6f1;
}
.dx-radiobutton.dx-state-focused:not(.dx-state-active) .dx-radiobutton-icon:before {
    border: 1px solid #8080ff;
}
.dx-radiogroup.dx-state-readonly .dx-radiobutton-icon:before {
    border-color: #d6d6f1;
}
.dx-accordion-item {
    border-top-color: #b3b3e6;
}
.dx-accordion-item:last-child {
    border-bottom: 1px solid #b3b3e6;
}
.dx-accordion-item.dx-state-active:not(.dx-accordion-item-opened) .dx-icon {
    color: #333;
}
.dx-accordion-item.dx-state-active:not(.dx-accordion-item-opened) > .dx-accordion-item-title {
    color: #333;
    background-color: rgba(40, 40, 126, 0.2);
}
.dx-accordion-item.dx-state-hover:not(:last-child):not(.dx-accordion-item-opened):not(.dx-state-focused) {
    border-bottom-color: #dcdcf4;
}
.dx-accordion-item-opened {
    border-color: #b3b3e6;
}
.dx-accordion-item-opened + .dx-accordion-item.dx-state-hover:not(.dx-state-focused) {
    border-top-color: #dcdcf4;
}
.dx-slideoutview-content {
    border-color: rgba(179, 179, 230, 0.5);
}
.dx-colorview-palette-cell,
.dx-colorview-alpha-channel-border,
.dx-colorview-hue-scale-wrapper,
.dx-colorview-color-preview-container {
    box-shadow: 0 0 0 1px #b3b3e6;
}
.dx-colorbox-color-result-preview {
    border-color: #b3b3e6;
}
.dx-context-menu-container-border {
    border: 1px solid #b3b3e6;
}
.dx-menu-adaptive-mode .dx-treeview {
    border: 1px solid #b3b3e6;
}
.dx-menu-adaptive-mode .dx-treeview-node-container:first-child > .dx-treeview-node {
    border-bottom: 1px solid #b3b3e6;
}
.dx-context-menu .dx-submenu {
    border: 1px solid #b3b3e6;
}
.dx-context-menu .dx-menu-separator {
    background-color: #b3b3e6;
}
.dx-calendar-navigator .dx-button {
    border-color: #b3b3e6;
}
.dx-calendar-navigator .dx-button.dx-state-active:not(.dx-calendar-disabled-navigator-link) {
    z-index: 1;
}
.dx-calendar-navigator .dx-button.dx-state-hover:not(.dx-calendar-disabled-navigator-link) {
    z-index: 1;
    border-color: #b3b3e6;
}
.dx-calendar-body thead tr th {
    -webkit-box-shadow: inset 0px -1px 0px #b3b3e6;
    -moz-box-shadow: inset 0px -1px 0px #b3b3e6;
    box-shadow: inset 0px -1px 0px #b3b3e6;
}
.dx-calendar-cell.dx-state-active:not(.dx-calendar-empty-cell):not(.dx-calendar-selected-date) {
    -webkit-box-shadow: inset 0px -1px 0px 1000px rgba(40, 40, 126, 0.2);
    -moz-box-shadow: inset 0px -1px 0px 1000px rgba(40, 40, 126, 0.2);
    box-shadow: inset 0px -1px 0px 1000px rgba(40, 40, 126, 0.2);
}
.dx-calendar-cell.dx-calendar-contoured-date {
    -webkit-box-shadow: inset 0px 0px 0px 1px #8585d7;
    -moz-box-shadow: inset 0px 0px 0px 1px #8585d7;
    box-shadow: inset 0px 0px 0px 1px #8585d7;
}
.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-contoured-date,
.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today.dx-calendar-contoured-date {
    box-shadow: inset 0px 0px 0px 1px #8585d7, inset 0px 0px 0px 1000px #8080ff;
}
.dx-treeview-border-visible {
    border: 1px solid #b3b3e6;
}
.dx-treeview-select-all-item {
    border-bottom: 1px solid #b3b3e6;
}
.dx-tabpanel .dx-tab:not(.dx-tab-selected):not(.dx-state-hover) {
    background: none;
}
.dx-tabpanel.dx-state-focused .dx-tabs-scrollable .dx-tab:not(.dx-tab-selected):before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 100%;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 2;
    height: 0;
    border-bottom: 1.5px solid #8080ff;
    bottom: -1.4px;
}
.dx-tabpanel .dx-multiview-wrapper {
    border: 1px solid #b3b3e6;
}
.dx-scheduler-view-switcher.dx-tabs .dx-tab:not(.dx-tab-selected):not(.dx-state-hover) {
    background: none;
}
.dx-scheduler-appointment-tooltip-buttons .dx-button:nth-child(even) {
    float: right;
    margin-right: 0;
}
.dx-scheduler-appointment-tooltip-buttons .dx-button:nth-child(odd) {
    float: left;
    margin-left: 0;
}
.dx-desktop-layout-main-menu .dx-nav-item.dx-tab-selected {
    border-top: 1px solid #b3b3e6;
}
.dx-desktop-layout-toolbar {
    border-bottom-color: #b3b3e6;
}
.dx-splitter {
    border-right-color: #b3b3e6;
}
.dx-card {
    border: 1px solid #b3b3e6;
}
.dx-htmleditor .dx-htmleditor-toolbar-wrapper:first-child {
    border-bottom: 1px solid #b3b3e6;
}
.dx-htmleditor-content blockquote {
    border-left-color: #b3b3e6;
}
.dx-rtl .dx-htmleditor-content blockquote {
    border-right-color: #b3b3e6;
}
.dx-theme-generic-typography a {
    color: #8080ff;
}
.dx-theme-accent-as-text-color {
    color: #8080ff;
}
.dx-theme-accent-as-background-color {
    background-color: #8080ff;
    fill: #8080ff;
}
.dx-theme-accent-as-border-color {
    border-color: #8080ff;
}
.dx-theme-generic-typography .dx-theme-accent-as-text-color {
    color: #8080ff;
}
.dx-theme-generic-typography .dx-theme-accent-as-background-color {
    background-color: #8080ff;
    fill: #8080ff;
}
.dx-theme-generic-typography .dx-theme-accent-as-border-color {
    border-color: #8080ff;
}
.dx-badge {
    background-color: #8080ff;
}
.dx-button-default.dx-button-mode-contained {
    background-color: #8080ff;
}
.dx-button-default.dx-button-mode-contained.dx-state-hover {
    background-color: #4d4dff;
}
.dx-button-default.dx-button-mode-contained.dx-state-focused {
    background-color: #3333ff;
}
.dx-button-default.dx-button-mode-contained.dx-state-active {
    background-color: #1a1aff;
}
.dx-button-default.dx-button-mode-outlined {
    background-color: #8080ff;
    border-color: #6666ff;
}
.dx-button-default.dx-button-mode-outlined.dx-state-hover {
    background-color: rgba(102, 102, 255, 0.1);
}
.dx-button-default.dx-button-mode-outlined.dx-state-focused {
    background-color: rgba(102, 102, 255, 0.2);
}
.dx-button-default.dx-button-mode-outlined.dx-state-active {
    background-color: rgba(102, 102, 255, 0.3);
}
.dx-button-default.dx-button-mode-text {
    background-color: #8080ff;
    color: #6666ff;
}
.dx-button-default.dx-button-mode-text .dx-icon {
    color: #6666ff;
}
.dx-button-default.dx-button-mode-text.dx-state-hover {
    background-color: rgba(102, 102, 255, 0.1);
}
.dx-button-default.dx-button-mode-text.dx-state-focused {
    background-color: rgba(102, 102, 255, 0.2);
}
.dx-button-default.dx-button-mode-text.dx-state-active {
    background-color: rgba(102, 102, 255, 0.3);
}
.dx-buttongroup-item.dx-item-selected.dx-button-default {
    background-color: #4d4dff;
}
.dx-checkbox.dx-state-hover .dx-checkbox-icon {
    border: 1px solid #4343ff;
}
.dx-checkbox.dx-state-focused .dx-checkbox-icon {
    border: 1px solid #8080ff;
}
.dx-checkbox-checked .dx-checkbox-icon {
    color: #8080ff;
}
.dx-checkbox-indeterminate .dx-checkbox-icon {
    color: #8080ff;
}
.dx-tab.dx-state-focused:after {
    border-right: 1px solid #8080ff;
    border-left: 1px solid #8080ff;
    border-top: 1px solid #8080ff;
    border-bottom: 1px solid #8080ff;
}
.dx-tab-selected:not(.dx-state-focused) + .dx-tab-selected:not(.dx-state-focused):after {
    border-left: 1px solid #e0e0f5;
}
.dx-rtl .dx-tab-selected:not(.dx-state-focused) + .dx-tab-selected:not(.dx-state-focused):after {
    border-left: 1px solid #b3b3e6;
    border-right: 1px solid #e0e0f5;
}
.dx-nav-item.dx-state-focused,
.dx-rtl .dx-nav-item.dx-state-focused {
    -webkit-box-shadow: inset 0 0 0 1px #8080ff;
    -moz-box-shadow: inset 0 0 0 1px #8080ff;
    box-shadow: inset 0 0 0 1px #8080ff;
}
.dx-texteditor.dx-state-hover {
    border-color: rgba(128, 128, 255, 0.4);
}
.dx-texteditor.dx-state-focused.dx-editor-filled,
.dx-texteditor.dx-state-active.dx-editor-filled,
.dx-texteditor.dx-state-focused.dx-editor-underlined,
.dx-texteditor.dx-state-active.dx-editor-underlined,
.dx-texteditor.dx-state-focused.dx-editor-outlined,
.dx-texteditor.dx-state-active.dx-editor-outlined {
    border-color: #8080ff;
}
.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-input {
    padding-right: 68px;
}
.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid.dx-rtl .dx-texteditor-input {
    padding: 7px 9px 8px;
    padding-left: 68px;
}
.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    right: 38px;
}
.dx-rtl .dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after,
.dx-rtl.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    left: 38px;
    right: auto;
}
.dx-editor-filled.dx-dropdowneditor.dx-state-hover .dx-dropdowneditor-icon,
.dx-editor-filled.dx-dropdowneditor.dx-state-active .dx-dropdowneditor-icon {
    background-color: rgba(128, 128, 255, 0.2);
}
.dx-editor-filled.dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon,
.dx-editor-filled.dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon,
.dx-editor-filled .dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon,
.dx-editor-filled .dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon {
    background-color: rgba(128, 128, 255, 0.3);
}
.dx-invalid.dx-dropdowneditor.dx-show-clear-button:not(.dx-texteditor-empty) .dx-texteditor-container:after {
    right: 68px;
}
.dx-rtl .dx-invalid.dx-dropdowneditor.dx-show-clear-button:not(.dx-texteditor-empty) .dx-texteditor-container:after,
.dx-rtl.dx-invalid.dx-dropdowneditor.dx-show-clear-button:not(.dx-texteditor-empty) .dx-texteditor-container:after {
    right: auto;
    left: 68px;
}
.dx-list.dx-list-select-decorator-enabled .dx-list-item.dx-state-hover .dx-radiobutton-icon:before,
.dx-list.dx-list-select-decorator-enabled .dx-list-item.dx-state-hover .dx-checkbox-icon {
    border-color: #4343ff;
}
.dx-list.dx-list-select-decorator-enabled .dx-list-item.dx-state-focused .dx-radiobutton-icon:before,
.dx-list.dx-list-select-decorator-enabled .dx-list-item.dx-state-focused .dx-checkbox-icon {
    border: 1px solid #8080ff;
}
.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-focused {
    background-color: #8080ff;
}
.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-focused.dx-list-item-selected {
    background-color: rgba(128, 128, 255, 0.7);
}
.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-active {
    background-color: #8080ff;
}
.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-active .dx-list-slide-item-content {
    background-color: #8080ff;
}
.dx-list-slide-menu-button-menu {
    background-color: #8080ff;
}
.dx-device-mobile .dx-list.dx-list-select-decorator-enabled .dx-list-item.dx-state-hover .dx-radiobutton-icon:before,
.dx-device-mobile .dx-list.dx-list-select-decorator-enabled .dx-list-item.dx-state-hover .dx-checkbox-icon {
    border-color: #4343ff;
}
.dx-device-mobile .dx-list.dx-list-select-decorator-enabled .dx-list-item.dx-state-focused .dx-radiobutton-icon:before,
.dx-device-mobile .dx-list.dx-list-select-decorator-enabled .dx-list-item.dx-state-focused .dx-checkbox-icon {
    border: 1px solid #8080ff;
}
.dx-device-mobile .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-focused {
    background-color: #8080ff;
}
.dx-device-mobile .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-focused.dx-list-item-selected {
    background-color: rgba(128, 128, 255, 0.7);
}
.dx-device-mobile .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-active {
    background-color: #8080ff;
}
.dx-device-mobile .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-active .dx-list-slide-item-content {
    background-color: #8080ff;
}
.dx-device-mobile .dx-list-slide-menu-button-menu {
    background-color: #8080ff;
}
.dx-dropdownlist-popup-wrapper .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item-content {
    padding: 7px 9px;
}
.dx-numberbox-spin.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-input {
    padding-right: 102px;
}
.dx-numberbox-spin.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid.dx-rtl .dx-texteditor-input {
    padding: 7px 9px 8px;
    padding-left: 102px;
}
.dx-numberbox-spin.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    right: 72px;
}
.dx-rtl .dx-numberbox-spin.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after,
.dx-rtl.dx-numberbox-spin.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    left: 72px;
    right: auto;
}
.dx-numberbox-spin-touch-friendly.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-input {
    padding-right: 142px;
}
.dx-numberbox-spin-touch-friendly.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid.dx-rtl .dx-texteditor-input {
    padding: 7px 9px 8px;
    padding-left: 142px;
}
.dx-numberbox-spin-touch-friendly.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    right: 112px;
}
.dx-rtl .dx-numberbox-spin-touch-friendly.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after,
.dx-rtl.dx-numberbox-spin-touch-friendly.dx-show-clear-button:not(.dx-texteditor-empty).dx-invalid .dx-texteditor-container:after {
    left: 112px;
    right: auto;
}
@media (max-width: 320px) {
    .dx-datebox-wrapper-calendar .dx-calendar {
        margin: 18px;
    }
}
.dx-datebox.dx-auto-width.dx-dropdowneditor-button-visible .dx-texteditor-input,
.dx-datebox:not(.dx-texteditor-empty).dx-auto-width.dx-dropdowneditor-button-visible .dx-texteditor-input {
    padding-right: 60px;
}
.dx-datebox.dx-auto-width.dx-dropdowneditor-button-visible.dx-rtl .dx-texteditor-input,
.dx-datebox:not(.dx-texteditor-empty).dx-auto-width.dx-dropdowneditor-button-visible.dx-rtl .dx-texteditor-input {
    padding: 7px 9px 8px;
    padding-left: 60px;
}
.dx-datebox.dx-auto-width.dx-dropdowneditor-button-visible.dx-rtl.dx-editor-underlined .dx-texteditor-input,
.dx-datebox:not(.dx-texteditor-empty).dx-auto-width.dx-dropdowneditor-button-visible.dx-rtl.dx-editor-underlined .dx-texteditor-input {
    padding-right: 0;
}
.dx-datebox.dx-auto-width.dx-dropdowneditor-button-visible.dx-show-clear-button .dx-texteditor-input,
.dx-datebox:not(.dx-texteditor-empty).dx-auto-width.dx-dropdowneditor-button-visible.dx-show-clear-button .dx-texteditor-input {
    padding-right: 90px;
}
.dx-datebox.dx-auto-width.dx-dropdowneditor-button-visible.dx-show-clear-button.dx-rtl .dx-texteditor-input,
.dx-datebox:not(.dx-texteditor-empty).dx-auto-width.dx-dropdowneditor-button-visible.dx-show-clear-button.dx-rtl .dx-texteditor-input {
    padding: 7px 9px 8px;
    padding-left: 90px;
}
.dx-tile.dx-state-focused,
.dx-tile.dx-state-hover {
    border-color: rgba(128, 128, 255, 0.4);
}
.dx-toast-info {
    background-color: #8080ff;
}
.dx-progressbar-range {
    border: 1px solid #8080ff;
    background-color: #8080ff;
}
.dx-state-disabled .dx-progressbar-range {
    background-color: rgba(128, 128, 255, 0.6);
}
.dx-slider-range.dx-slider-range-visible {
    border: 1px solid #8080ff;
    background: #8080ff;
}
.dx-slider-handle {
    background-color: #8080ff;
}
.dx-state-active.dx-slider-handle {
    background: #2929ff;
}
.dx-state-focused.dx-slider-handle:not(.dx-state-active) {
    border: 1px solid #ececf9;
    background: #4d4dff;
}
.dx-state-hover.dx-slider-handle:not(.dx-state-active) {
    border: 1px solid #ececf9;
    background: #4d4dff;
}
.dx-gallery .dx-gallery-nav-button-prev.dx-state-hover:after,
.dx-gallery .dx-gallery-nav-button-next.dx-state-hover:after {
    background-color: rgba(128, 128, 255, 0.5);
}
.dx-gallery .dx-gallery-nav-button-prev.dx-state-active:after,
.dx-gallery .dx-gallery-nav-button-next.dx-state-active:after {
    background-color: rgba(128, 128, 255, 0.7);
}
.dx-gallery-indicator-item {
    border: 1px solid #8080ff;
}
.dx-gallery-indicator-item-active,
.dx-gallery-indicator-item-selected {
    background: #8080ff;
}
.dx-state-focused.dx-gallery .dx-gallery-indicator-item-selected {
    background: #3333ff;
}
.dx-tagbox:not(.dx-texteditor-empty) .dx-texteditor-input {
    padding-left: 0;
    margin-left: 5px;
}
.dx-rtl .dx-tagbox:not(.dx-texteditor-empty) .dx-texteditor-input,
.dx-rtl.dx-tagbox:not(.dx-texteditor-empty) .dx-texteditor-input {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
.dx-radiobutton-checked .dx-radiobutton-icon-dot {
    background: #8080ff;
}
.dx-radiobutton.dx-state-hover .dx-radiobutton-icon:before {
    border-color: rgba(128, 128, 255, 0.4);
}
.dx-radiobutton.dx-state-focused:not(.dx-state-active) .dx-radiobutton-icon:before {
    border: 1px solid #8080ff;
}
.dx-accordion-item.dx-state-active:not(.dx-accordion-item-opened) .dx-icon {
    color: #333;
}
.dx-accordion-item.dx-state-active:not(.dx-accordion-item-opened) > .dx-accordion-item-title {
    color: #333;
    background-color: rgba(40, 40, 126, 0.2);
}
.dx-accordion-item.dx-state-hover:not(:last-child):not(.dx-accordion-item-opened):not(.dx-state-focused) {
    border-bottom-color: #dcdcf4;
}
.dx-accordion-item-opened + .dx-accordion-item.dx-state-hover:not(.dx-state-focused) {
    border-top-color: #dcdcf4;
}
.dx-state-focused.dx-accordion-item {
    border-color: #8080ff;
}
.dx-treelist-filter-panel .dx-icon-filter,
.dx-treelist-filter-panel .dx-treelist-filter-panel-text,
.dx-treelist-filter-panel .dx-treelist-filter-panel-clear-filter {
    color: #8080ff;
}
.dx-menu-item.dx-state-focused {
    background-color: #8080ff;
}
.dx-menu-item-selected.dx-state-focused {
    background-color: rgba(128, 128, 255, 0.7);
}
.dx-calendar-navigator .dx-button.dx-state-active:not(.dx-calendar-disabled-navigator-link) {
    z-index: 1;
}
.dx-calendar-navigator .dx-button.dx-state-hover:not(.dx-calendar-disabled-navigator-link) {
    z-index: 1;
    border-color: #b3b3e6;
}
.dx-calendar-navigator .dx-calendar-caption-button.dx-button .dx-button-content {
    color: #8080ff;
}
.dx-calendar-navigator-previous-view.dx-button .dx-icon,
.dx-calendar-navigator-previous-month.dx-button .dx-icon {
    color: #8080ff;
}
.dx-calendar-navigator-next-view.dx-button .dx-icon,
.dx-calendar-navigator-next-month.dx-button .dx-icon {
    color: #8080ff;
}
.dx-calendar-cell.dx-state-active:not(.dx-calendar-empty-cell):not(.dx-calendar-selected-date) {
    -webkit-box-shadow: inset 0px -1px 0px 1000px rgba(40, 40, 126, 0.2);
    -moz-box-shadow: inset 0px -1px 0px 1000px rgba(40, 40, 126, 0.2);
    box-shadow: inset 0px -1px 0px 1000px rgba(40, 40, 126, 0.2);
}
.dx-calendar-cell.dx-calendar-selected-date,
.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today {
    -webkit-box-shadow: inset 0px 0px 0px 1000px #8080ff;
    -moz-box-shadow: inset 0px 0px 0px 1000px #8080ff;
    box-shadow: inset 0px 0px 0px 1000px #8080ff;
}
.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-contoured-date,
.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today.dx-calendar-contoured-date {
    box-shadow: inset 0px 0px 0px 1px #8585d7, inset 0px 0px 0px 1000px #8080ff;
}
.dx-treeview-item-with-checkbox.dx-state-focused .dx-checkbox-icon {
    border: 1px solid #8080ff;
}
.dx-treeview-item-without-checkbox.dx-state-focused > .dx-treeview-item {
    background-color: #8080ff;
}
.dx-tabpanel .dx-tab:not(.dx-tab-selected):not(.dx-state-hover) {
    background: none;
}
.dx-tabpanel.dx-state-focused .dx-multiview-wrapper {
    border: 1px solid #8080ff;
}
.dx-tabpanel.dx-state-focused .dx-tab-selected:after {
    border-top: 1px solid #8080ff;
    border-right: 1px solid #8080ff;
    border-left: 1px solid #8080ff;
}
.dx-tabpanel.dx-state-focused .dx-tabs-scrollable .dx-tab:not(.dx-tab-selected):before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 100%;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 2;
    height: 0;
    border-bottom: 1.5px solid #8080ff;
    bottom: -1.4px;
}
.dx-scheduler-view-switcher.dx-tabs .dx-tab:not(.dx-tab-selected):not(.dx-state-hover) {
    background: none;
}
.dx-scheduler-appointment-tooltip-buttons .dx-button:nth-child(even) {
    float: right;
    margin-right: 0;
}
.dx-scheduler-appointment-tooltip-buttons .dx-button:nth-child(odd) {
    float: left;
    margin-left: 0;
}
.dx-desktop-layout-main-menu {
    background: #8080ff;
}
.dx-desktop-layout-main-menu .dx-nav-item {
    background: #8080ff;
}
.dx-desktop-layout-main-menu .dx-nav-item.dx-state-hover {
    background: #cdcdff;
}
.dx-htmleditor-content .dx-variable > span {
    background: rgba(128, 128, 255, 0.15);
}