/*CSS Classes for Background*/

.dx-designer-viewport .dxd-back-primary {
    background-color: #d9d9f2;
}

.dx-designer-viewport .dxd-back-primary2 {
    background-color: #ececf9;
}

.dx-designer-viewport .dxd-back-highlighted:hover:not(.dxd-state-no-hover) {
    background-color: #d9d9f2;
}

.dx-designer-viewport .dxd-back-secondary {
    background-color: #b3b3e6;
}

.dx-designer-viewport .dxd-back-highlighted.dxd-state-normal:hover:not(.dxd-state-no-hover) {
    background-color: #9f9fdf;
}

.dx-designer-viewport .dxd-back-highlighted.dxd-state-selected,
.dx-designer-viewport .dxd-back-highlighted.dxd-state-selected:hover {
    background-color: #9f9fdf;
}

.dx-designer-viewport .dxd-back-highlighted.dxd-state-active {
    background-color: #8c8cd9;
}

.dx-designer-viewport .dxd-back-contrast {
    background-color: #4040bf;
}

.dx-designer-viewport .dxd-back-highlighted.dxd-state-active:hover:not(.dxd-state-no-hover) {
    background-color: #4040bf;
}

.dx-designer-viewport .dxd-back-contrast .dxd-back-highlighted:hover,
.dx-designer-viewport .dxd-back-contrast .dxd-back-highlighted.dxd-state-active {
    background-color: #333399;
}

.dx-designer-viewport .dxd-back-accented {
    background-color: #8080ff;
}


/*CSS Classes for Borders*/
.dx-designer-viewport .dxd-border-primary {
    border-color: #b3b3e6;
}

.dx-designer-viewport .dxd-border-secondary {
    border-color: #9f9fdf;
}

.dx-designer-viewport .dxd-border-accented {
    border-color: #8080ff;
}


/*CSS Classes for Icons*/
.dx-designer-viewport .dxd-state-active .dxd-icon-fill {
    fill: #ececf9;
}

.dx-designer-viewport .dxd-back-contrast .dxd-state-active .dxd-icon-fill {
    fill: #ececf9;
}

.dx-designer-viewport .dxd-back-contrast .dxd-icon-fill {
    fill: #8c8cd9;
}

.dx-designer-viewport .dxd-icon-fill {
    fill: #4040bf;
}


/*CSS Classes for Text*/
.dx-designer-viewport .dxd-state-active .dxd-text-primary {
    color: #ececf9;
}

.dx-designer-viewport .dxd-text-info {
    color: #333399;
}

.dx-designer-viewport .dxd-text-primary {
    color: #333333;
}

.dx-designer-viewport .dxd-text-accented {
    color: #8080ff;
}


/*CSS Classes for Report Tabs (Report Designer only)*/
.dx-designer-viewport .dxrd-navigation-panel-wrapper .dx-tab {
    background-color: #ececf9;
}

    .dx-designer-viewport .dxrd-navigation-panel-wrapper .dx-tab.dx-tab-selected {
        color: #ececf9;
    }

        .dx-designer-viewport .dxrd-navigation-panel-wrapper .dx-tab.dx-tab-selected .dx-icon {
            color: #ececf9;
        }

    .dx-designer-viewport .dxrd-navigation-panel-wrapper .dx-tab:hover {
        background-color: #d9d9f2;
    }

.dx-designer-viewport .dxrd-navigation-panel-wrapper .dx-tab {
    border-color: #8c8cd9;
}

    .dx-designer-viewport .dxrd-navigation-panel-wrapper .dx-tab.dx-tab-selected,
    .dx-designer-viewport .dxrd-navigation-panel-wrapper .dx-tab.dx-tab-selected:hover {
        background-color: #8c8cd9;
    }

.dx-designer-viewport .dxrd-navigation-panel-wrapper .dx-icon {
    color: #333399;
}


/*Other CSS Classes (Expression Editor, Filter Editor, etc.)*/

.dx-designer-viewport .dxrd-scripts-editor.ace_editor,
.dx-designer-viewport .dx-sql_editor.ace_editor,
.dx-designer-viewport .dx-expressioneditor-textarea.ace_editor,
.dx-designer-viewport .dx-filtereditor-ace.ace_editor {
    background-color: #ececf9;
}

    .dx-designer-viewport .dxrd-scripts-editor.ace_editor .ace_gutter,
    .dx-designer-viewport .dx-sql_editor.ace_editor .ace_gutter,
    .dx-designer-viewport .dx-expressioneditor-textarea.ace_editor .ace_gutter,
    .dx-designer-viewport .dx-filtereditor-ace.ace_editor .ace_gutter {
        background-color: #d9d9f2;
    }

    .dx-designer-viewport .dxrd-scripts-editor.ace_editor .ace_gutter,
    .dx-designer-viewport .dx-sql_editor.ace_editor .ace_gutter,
    .dx-designer-viewport .dx-expressioneditor-textarea.ace_editor .ace_gutter,
    .dx-designer-viewport .dx-filtereditor-ace.ace_editor .ace_gutter {
        border-color: #b3b3e6;
    }

.dx-designer-viewport .dx-designer .dxd-scrollbar-color {
    scrollbar-face-color: #b3b3e6;
    -ms-scrollbar-face-color: #b3b3e6;
}

    .dx-designer-viewport .dx-designer .dxd-scrollbar-color::-webkit-scrollbar-corner {
        background-color: #b3b3e6;
    }

    .dx-designer-viewport .dx-designer .dxd-scrollbar-color::-webkit-scrollbar {
        background-color: #b3b3e6;
    }

.dx-designer-viewport .dxrd-scripts-editor.ace_editor .ace_gutter,
.dx-designer-viewport .dx-sql_editor.ace_editor .ace_gutter,
.dx-designer-viewport .dx-expressioneditor-textarea.ace_editor .ace_gutter,
.dx-designer-viewport .dx-filtereditor-ace.ace_editor .ace_gutter {
    border-color: #b3b3e6;
}

.dx-designer-viewport .dx-designer .dxd-scrollbar-color {
    scrollbar-track-color: #8c8cd9;
    -ms-scrollbar-track-color: #8c8cd9;
}

    .dx-designer-viewport .dx-designer .dxd-scrollbar-color::-webkit-scrollbar-thumb {
        background-color: #8c8cd9;
    }

.dx-designer-viewport .dxd-qb-relationship-line-color {
    stroke: #8c8cd9;
}

.dx-designer-viewport .dx-designer .dxd-scrollbar-color {
    scrollbar-arrow-color: #4040bf;
    -ms-scrollbar-arrow-color: #4040bf;
}

.dx-designer-viewport .dxdd-connector.dxd-state-selected .dxd-qb-relationship-line-color {
    stroke: #8080ff;
}
